<!DOCTYPE html>
<html>
  <head>
    <title>my income add</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Sung Career</h1>
      <img class="img-fluid" src="/static/1.jpg" alt="dog Sung">
      <h2 class="text-center mt-2 mb-4">about Sung</h2>
      <p class="lead">orem Ipsum is simply dummy text of the pri =-0-
        he 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <h2 class="text-center mt-2 mb-4">open position in {{company_name}}</h2>
      <p>
        {% for job in jobs%}
          {% include 'jobitem.html' %}
        {% endfor %}
      </p>
        
      <div class="text-center">
        <button class="btn btn-primary btn-lg">contact us</button>
        
        <p class="mt-4">Copyright 2023, Sung</p>
      </div>
    </div>
  </body>
</html>